<div class="clearfix show_movie_count">
  <div class="favorite_box_2">
    <i class="fas fa-heart"></i>
    <div><%= t.movie.favorite_count %></div>
  </div>
  <div class="star_box">
    <i class="fas fa-star"></i>
    <div><%= t.movie.satr_average %></div>
  </div>
  <div class="review_box_2">
    <i class="fas fa-comments"></i>
    <div><%= t.movie.review_count %></div>
  </div>
</div>
