<div class="list_show_headline">
  <h2><%= "#{release_year.year}公開の映画一覧" %></h2>
</div>
<div class="link_list">
  <div class="link_list_headline">
    <h4>年代別一覧</h4>
  </div>
  <ul>
    <% release_years.each do |year| %>
      <div class="link_list_content">
        <li><%= link_to "#{year.year}年", genre_path(year.id) %></li>
      </div>
    <% end %>
  </ul>

</div>
