<div class="list_show_headline">
  <h2><%= "#{genre.name}の映画一覧" %></h2>
</div>
<div class="link_list">
  <div class="link_list_headline">
    <h4>ジャンル一覧</h4>
  </div>
  <ul>
    <% genres.each do |genre| %>
    <div class="link_list_content"><li> <%= link_to "#{genre.name}", genre_path(genre.id) %></li></div>
    
    <% end %>
  </ul>
</div>
