<div class="star-position">
  <% if t.star == 1 %>
  <div class="star-color">★</div>
  <% elsif t.star == 2 %>
  <div class="star-color">★★</div>
  <% elsif t.star == 3 %>
  <div class="star-color">★★★</div>
  <% elsif t.star == 4 %>
  <div class="star-color">★★★★</div>
  <% elsif t.star == 5 %>
  <div class="star-color">★★★★★</div>
  <% end %>
</div>
