<div class="clearfix link_show_container">
  <div class="list_show_headline">
    <h2>上映予定の映画</h2>
  </div>
  <%= render 'movies/sidebar_6' %>
  <%= render 'movies/index',movies: @coming_soon  %>
</div>
