<div class="movies_index_container">
  <div class="movie_content clearfix">
    <div class="movie_image">
      img
    </div>
    <div class="movie_text">
      <div>
        <h2>title</h2>
      </div>
      <div>
        公開年月日:y/m/d
      </div>
      <div>
        製作国:アメリカ
      </div>
      <div>
        ジャンル:アクション
      </div>
      <div>
        監督:ああああああ
      </div>
      <div>
        出演者:いいいいいい
      </div>
      <div>
        ストーリー
      </div>
      <div>
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああ
      </div>
      <div class="link_box clearfix">
        <div class="show_btn"><%= link_to "編集", users_path %></div>
        <div class="destroy_btn"><%= link_to "削除", users_path,class: "btn btn-danger" %></div>
      </div>
    </div>
  </div>
</div>
