<div class="top_container">
  <div class="top_content">
    <div class="top_headline">
      <h2>今話題の映画</h2>
    </div>
    <div class="top_movie_cotents clearfix">
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top_content">
    <div class="top_headline">
      <h2>公開中の映画</h2>
    </div>
    <div class="top_movie_cotents clearfix">
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="clearfix top_movie_count">
          <div class="favorite_box">
            &#9829;
          <div>200</div>
          </div>
          <div class="star_box">
            &#9734;
            <div>5</div>
          </div>
          <div class="review_box">
            &#8801;
            <div>120</div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="top_content">
    <div class="top_headline">
      <h2>公開予定の映画</h2>
    </div>
    <div class="top_movie_cotents clearfix">
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="top_movie_dete">
          <div>y/m/d公開予定</div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="top_movie_dete">
          <div>y/m/d公開予定</div>
        </div>
      </div>
      <div class="top_movie_cotent">
        <div class="top_movie_image">
          img
        </div>
        <div class="top_movie_title">
          <h3>
            title
          </h4>
        </div>
        <div class="top_movie_dete">
          <div>y/m/d公開予定</div>
        </div>
      </div>
    </div>
  </div>
  <div class="top_review_container">
    <div class="top_review_headline">
      <h2>新着レビュー</h2>
    </div>
    <div class="top_review_content">
      <div class="clearfix">
        <div class="top_review_box">
          <div class="clearfix">
            <div class="top_review_image">
              img
            </div>
            <div class="top_user_text">
              <div>
                name
              </div>
              <div>
                y/m/d
              </div>
            </div>
          </div>
          <div class="top_review_text">
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </div>
        </div>
        <div class="top_movie_box">
          <div class="top_movie_image">
            img
          </div>
          <div class="top_movie_title">
            <h3>
              title
            </h4>
          </div>
          <div class="clearfix top_movie_count">
            <div class="favorite_box">
              &#9829;
            <div>200</div>
            </div>
            <div class="star_box">
              &#9734;
              <div>5</div>
            </div>
            <div class="review_box">
              &#8801;
              <div>120</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
