/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
  @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
 content: "";
 display: block;
 clear: both;
}
a {
  text-decoration: none;
}
td {
  padding: 15px 10px ;
}
/* header */
header {
  background-color: black;
  height: 80px;
}
.headline_box {
  line-height: 80px;
  float: left;
  margin-left: 40px;
}
.headline_box a {
  color: white;
}
.link_tags {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  font-size: 20px;
}
.link_tag {
  float: left;
  padding: 0 10px;
}
.link_tag a {
  color: white;
}
/* user_index */
.user_index_table {
  width: 1300px;
}
.user_index_container {
  margin: 0 auto;
  width: 1300px;margin-top: 30px;
}
.show_btn , .destroy_btn {
  float: left;
}
.destroy_btn {
  float: right;
}

.user_index_link {
  width: 150px;
}
/* review_index */
.reviews_index_table {
  width: 1300px;
}
.reviews_index_container {
  margin: 0 auto;
  width: 1300px;margin-top: 30px;
}
.show_btn , .destroy_btn {
  float: left;
}
.destroy_btn {
  float: right;
}

.reviews_index_link {
  width: 150px;
}
/* movies_index */
.movies_index_container {
  width: 1200px;
  margin: 0 auto;
}
.movie_content {
  margin-top: 50px;
  border: 1px solid;
  padding: 20px;
}
.movie_image {
  background-color: red;
  width: 200px;
  height: 300px;
  float: left;
  text-align: center;
  line-height: 300px;
}
.movie_text {
  float: left;
  padding-left: 20px;
}
.text_float {
  float: left;
}
.link_box {
  width: 100px;
  margin-left: 750px;
  margin-top: 50px;
}
/* top */
.top_content {
  margin-top: 50px;
}
.top_headline {
  text-align: center;
  margin-bottom: 20px;
}
.top_movie_image {
  height: 230px;
  width: 200px;
  background-color: red;
  text-align: center;
  line-height: 230px;
  margin: 0 auto;
}
.top_movie_cotent {
  width: 300px;
  float: left;
}
.top_movie_title {
  text-align: center;
  padding: 10px 0;
}
.favorite_box {
  float: left;
  width: 66px;
  text-align: center;
  font-size: 25px;
}
.star_box {
  float: left;
  width: 67px;
  text-align: center;
  font-size: 25px;
}
.review_box {
  float: left;
  width: 67px;
  text-align: center;
  font-size: 25px;
}
.top_movie_count {
  width: 200px;
  margin: 0 auto;
}
.top_movie_dete {
  text-align: center;
}
.top_review_container {
  margin-top: 50px;
}
.top_review_headline {
  text-align: center;
}
.top_review_image {
  height: 100px;
  width: 80px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  float: left;
}
.top_user_text {
  float: left;
  padding-left: 20px;
}
.top_review_box {
  float: left;
}
.top_movie_box {
  float: left;
}
.top_review_content {
  margin: 0 50px;
  width: 600px;
}
.top_review_text {
  padding-right: 30px;
}
/* link */
.link_container {
  width: 1500px;
  margin: 0 auto;
}
.movie_link_box {
  float: left;
  width: 250px;

  border: 1px solid;
  margin: 50px 25px;
}
/* contacts_index */
.contacts_index_container {
  width: 1500px;
  margin: 0 auto;
}
.contacts_index_table {
  width: 1500px;
  margin-top: 50px;
}
.contact_comment {
  width: 900px;
}
