/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
  @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.clearfix::after {
 content: "";
 display: block;
 clear: both;
}
a {
  text-decoration: none;
  color: black;
}
a:hover　{
  text-decoration: none;
}
td {
  padding: 15px 10px ;
}
/* header */
header {
  background-color: black;
  height: 80px;
}
.headline_box {
  line-height: 80px;
  float: left;
  margin-left: 40px;
}
.headline_box a {
  color: white;
}
.link_tags {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  font-size: 20px;
}
.link_tag {
  float: left;
  padding: 0 10px;
}
.link_tag a {
  color: white;
}
/* user_index */
.user_index_table {
  width: 1300px;
}
.user_index_container {
  margin: 0 auto;
  width: 1300px;margin-top: 30px;
}
.show_btn , .destroy_btn {
  float: left;
}
.destroy_btn {
  float: right;
}

.user_index_link {
  width: 150px;
}
/* review_index */
.reviews_index_table {
  width: 1300px;
}
.reviews_index_container {
  margin: 0 auto;
  width: 1300px;margin-top: 30px;
}
.show_btn , .destroy_btn {
  float: left;
}
.destroy_btn {
  float: right;
}

.reviews_index_link {
  width: 150px;
}
/* movies_index */
.movies_index_container {
  width: 1200px;
  margin: 0 auto;
}
.movie_content {
  margin-top: 50px;
  border: 1px solid;
  padding: 20px;
}
.movie_image {

  width: 200px;
  height: 300px;
  float: left;


}
.movie_show_image {
  width: 300px;
  height: 400px;
  float: left;
}
.movie_text {
  float: left;
  padding-left: 20px;
}
.text_float {
  float: left;
}
.link_box {
  width: 150px;
  margin-left: 750px;
  margin-top: 50px;
}
/* top */
.top_content {
  margin-top: 50px;
}
.top_headline {
  text-align: center;
  margin-bottom: 20px;
}
.top_movie_image {
  height: 230px;
  width: 200px;
  background-color: red;
  text-align: center;
  line-height: 230px;
  margin: 0 auto;
}
.top_movie_cotent {
  width: 300px;
  float: left;
}
.top_movie_title {
  text-align: center;
  padding: 10px 0;
}
.favorite_box ,.review_box, .followers_box, .following_box {
  float: left;
  width: 66px;
  height: 90px;
  text-align: center;
  font-size: 25px;
  position: relative;
  padding:5px;
  color: white;
  line-height: 50px;
  }

.favorite_box a, .review_box a, .followers_box a, .following_box a{
display: block;
position: absolute;
top: 0;
left: 0;
height:100%;
width: 100%;
color: black;
}

.star_box,.favorite_box_2, .review_box_2 {
  float: left;
  width: 66px;
  text-align: center;
  font-size: 25px;
}
.review_box {
  float: left;
  width: 66px;
  text-align: center;
  font-size: 25px;

}
.top_movie_count {
  width: 200px;
  margin: 0 auto;
}
.show_movie_count {
  width: 300px;
  margin: 0 auto;
}
.top_movie_dete {
  text-align: center;
}
.top_review_container {
  margin-top: 50px;
}
.top_review_headline {
  text-align: center;
}
.top_review_image {
  height: 100px;
  width: 80px;



  float: left;
}
.top_user_text {
  float: left;
  padding-left: 20px;
}
.top_review_box {
  float: left;
}
.top_movie_box {
  float: left;
}
.top_review_content {
  margin: 0 50px;
  width: 600px;
}
.top_review_text {
  padding-right: 30px;
}
/* link */
.link_container {
  width: 1500px;
  margin: 0 auto;
}
.movie_link_box {
  float: left;
  width: 250px;

  border: 1px solid;
  margin: 50px 25px;
}
/* contacts_index */
.contacts_index_container {
  width: 1500px;
  margin: 0 auto;
}
.contacts_index_table {
  width: 1500px;
  margin-top: 50px;
}
.contact_comment {
  width: 900px;
}
.movie_text_content {
  padding-bottom: 10px;
}
.movie_new_container {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}
.action_btn {
  width: 100px;
  margin: 0 auto;
}
.img_form {
  margin-bottom: 20px;
}
.new_cast_container {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.new_cast_form {
  width: 500PX;
  float: left;
  margin-left: 30px;
  text-align: center;

}
.new_cast_table {
  width: 270px;
  float: left;
  text-align: center;
}
.cast_table {
  width: 270px;
}
#cast_name , #director_name{
  margin-bottom: 30px;
}
.form-group {
  padding-top: 10px;
}
.movie_contents {
  width: 900px;
  float: left;
}
.link_list {
  width: 260px;
  float: left;
  border: 1px solid;
  margin-right: 40px;
  margin-top: 50px;
  padding-left: 5px;
}
.link_show_container {
  width: 1200px;
  margin: 0 auto;
}
.list_content {
  font-size: 18px;
  padding: 5px 5px;
}
.list_show_headline {
  text-align: center;
}
.movie_content_right {
  width: 900px;
  border: 1px solid;
  float: left;
  margin-bottom: 50px;

}
.movie_content_left {
  width: 400px;
  float: left;

}
.movie_show_container {
  width: 1500px;
  margin: 0 auto;
}
.movie_show_image {
  margin: 0 auto;
  margin-left: 50px;
}
.favorite_btn_box {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.link_btn_box {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 2px 2px 0;
  color: gray;
  cursor: pointer;
  font-size: 25px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

.review_container {
  border: 1px solid;
  float: right;
  width: 900px;
  margin-right: 200px;
}
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    font-size: 18px;
}
.user_show_container {
  width: 1500px;
  margin: 0 auto;
}
.user_left_container {
  float: left;
  width: 350px;
  margin-right: 100px;
}
.user_right_container {
  float: left;
  width: 998px;
}
.user_show_image {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
.user_info_box {
  border: 1px solid;
  margin-top: 50px;
  word-wrap: break-word;
}
.user_show_count {
  border: 1px solid;

}
.followers_box , .following_box {
  float: left;
  font-size: 19px;
  width: 92px;
}
.favorite_movie_content {

  text-align: center;
}
.show_movie_count {
  width: 200px;
  margin: 0 auto;
}
.favorite_movie_content {
  float: left;
  width: 250px;
  border: 1px solid;
  margin-right: 20px;
  padding: 10px;
}
.top_movie_content {
  text-align: center;
  float: left;
  width: 250px;
  border: 1px solid;
  margin-right: 20px;
  padding: 10px;
}
.best_movie_container {
  width: 998px;
}
.user_info_review_box {
  float: left;
  width: 706px;
  margin: 20px;
}
.user_show_text {
  font-size: 18px;
  margin: 15px 20px;
}
.user_show_text_1 {
  float: left;
  padding: 0 20px;
  font-size: 18px;
}
.user_show_image_1 {
  float: left;
}
.user_review_content {
  margin-bottom: 50px;
  border: 1px solid;
}
.following, .followers {
  float: left;
}
.user_link_box {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.review_box a:hover, .followers_box a:hover, .following_box a:hover, .favorite_box a:hover {
  background-color: #EEFF41;
  text-decoration: none;
}
.following_count, .followers_count {
  font-size: 25px;
}
.favorite_movie_title {
  border-bottom: 1px solid;
  width: 200px;
  margin: 0 auto;
}
.best_movie_link {
  border-top: 1px solid;
  width: 200px;
  margin: 0 auto;
  padding-top: 10px;
}
.favorite_movie_content_2 {
  float: left;
  width: 230px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
}
.star-color {
  color: #ffd400;
}
.review_at {
  margin-top: 20px;
}
.review_text_box {
  margin-top: 30px;
}
.review_text {
  margin-top: 20px;
  font-size: 18px;
}
.container_1 {
  margin: 0 auto;
  text-align: left;
}
.container_1 input {
  display: none;
}
.container_1 label {
  color: #4776AF;
  cursor: pointer;

}
.container_1 label:hover {
  color: #ccc;
}
.container_1 .top {

  background: #fff;
}
.container_1 .btm {
  height: 0;
  overflow: hidden;

  width: 706px;
}
.container_1 .topbtn,
.container_1 .btmbtn {
  text-align: left;
  display: block;

  margin-top: 20px;

}
.container_1 .topbtn2,
.container_1 .btmbtn2 {
  text-align: center;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.container_1 input:checked + .btm {
  margin-top: -36px;
  height: auto;

  background: #fff;
  position: relative;
  z-index: 2;
}
.container_1{
  padding: 0px;
}
.topbtn {
  color: red;
}
.user_name {
  float: left;
}
.user_image {
  float: left;
}
#follow_form {
  width: 300px;
}
.follow-btn, .follow_count {
  float: left;
}
.user_name {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
}
.user_image {
  margin-left: 20px;
  margin-top: 20px;
}
.follow_box {
  margin-top: 30px;
}
.user_right_container {
  padding-top: 50px;
}
.follow_count {
  margin-right: 20px;
  margin-left: 10px;
}
.user_index_box {
  border: 1px solid;
  width: 300px;
  float: left;
  margin-right: 20px;
}
.time_line_image {
  margin-left: 20px;
  float: left;
}
.time_line_text {
  padding-left: 25px;
  float: left;
  line-height: 100px;
  font-size: 18px;
}
.time_line_review {
  float: left;
  padding-left: 25px;
  font-size: 18px;
}
.time_line_review_box {
  margin-top: 20px;
}
.time_line_movie_title {
  font-weight: bold;
}
.time_line_content {
  border: 1px solid;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.balloon2-left {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 2px #555;
 	box-sizing: border-box;
}

.balloon2-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon2-left:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
 	z-index: 1;
}

.balloon2-left p {
	margin: 0;
	padding: 0;
}
.like_box {
  float: left;
}
.comment_box {
  float: left;
  margin-left: 20px;
}
