<div class="reviews_index_container">
    <table border="1" cellspacing="0" cellpadding="0" align="left" class="user_index_table">
      <tr>
        <th>ID</th>
        <th>USER-ID</th>
        <th>NAME</th>
        <th>REVIEW</th>
        <th class="reviews_index_link">LINK</th>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>aaaaa</td>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td class="clearfix">
          <div class="show_btn"><%= link_to "詳細", users_path %></div>
          <div class="destroy_btn"><%= link_to "削除", users_path,class: "btn btn-danger" %></div>
        </td>
      </tr>
    </table>
</div>
